@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

@theme {
	--color-Pale-Blue: hsl(243, 100%, 93%);
	--color-Grayish-Blue: hsl(229, 7%, 55%);
	--color-Dark-Blue: hsl(228, 56%, 26%);
	--color-Very-Dark-Blue: hsl(229, 57%, 11%);
	--color--Gradient: linear-gradient(90deg,hsl(6, 100%, 80%)0%,hsl(335, 100%, 65%) 100% );
	--color-test1:hsl(6, 100%, 80%);
	--color-test2:hsl(335, 100%, 65%);
	--breakpoint-mobile: 375px;
	--breakpoint-desktop: 700px;
	--font-raleway: "Raleway", sans-serif;
}


@media ( width >= 700px){
	.data-used::after{
		position: absolute;
		right: 0px;
		bottom: 60px;
		z-index: 10;
		content: '';
		width: 100px;
		height: 100px;
		border-top: 100px solid white;
		border-left: 100px solid transparent;
	}
}  